.home-layout {
  margin-top: var(--x1_2);
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-gap: var(--x6);
  padding-right: 0;
}

/* Responsive */
@media (max-width: 998px) {
  .home-layout {
    margin-top: 0;
    grid-template-columns: 1fr;
    padding-right: var(--d2);
    position: relative;
    gap: 0;
  }
}

.col-izq {
  position: relative;
}

.col-izq .fixed {
  position: fixed;
  height: 100%;
}

/* Responsive: Cambiar a relativo en pantallas pequeñas */
@media (max-width: 998px) {
  .col-izq .fixed {
    position: relative;
    height: auto;
  }
}

.col-izq .logos {
  display: flex;
  gap: var(--d4);
  position: absolute;
  bottom: 188px;
  justify-content: center;
  z-index: 0;
}

/* Ajustes para móviles */
@media (max-width: 998px) {
  .col-izq .logos {
    position: relative;
    top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
}

/* ✅ ICONOS MÁS GRANDES */
.col-izq .logos .mail {
  font-size: 35px; /* Tamaño aumentado */
  color: var(--brand-light); /* Asegura que mantenga su color */
  transition: transform 0.3s ease-in-out;
}

/* Ajustar tamaño de iconos en tablets */
@media (max-width: 768px) {
  .col-izq .logos .mail {
    font-size: 30px; /* Antes 35px */
  }
}

/* Ajustar tamaño de iconos en teléfonos pequeños */
@media (max-width: 480px) {
  .col-izq .logos .mail {
    font-size: 30px; /* Antes 35px */
  }
}

.col-izq .sub-title {
  display: flex;
  align-items: start;
  color: var(--brand-light);
}

.col-izq .sub-title::before {
  content: url("../../assets/svg/u_atom.svg");
  margin-right: var(--d4);
}

.col-izq p {
  width: 30%;
}

/* Ajuste de ancho del párrafo en pantallas pequeñas */
@media (max-width: 998px) {
  .col-izq p {
    width: 100%;
  }
}

.col-der {
  padding-bottom: var(--x3);
  z-index: 10;
}

/* Ajuste de margen en pantallas pequeñas */
@media (max-width: 998px) {
  .col-der {
    margin-top: var(--d2);
  }
}
