@import "../base/variables.css";

.home {
  padding: 0 var(--x1) 0 var(--d1);
  h1.title {
    margin-bottom: var(--d1);
  }

  .info-header {
    .text {
      width: 90%;
    }

    /* Teléfonos pequeños (hasta 480px) */
    @media (max-width: 480px) {
      width: 100%;
    }

    /* Teléfonos medianos (481px a 768px) */
    @media (min-width: 481px) and (max-width: 768px) {
      width: 100%;
    }

    /* Tablets (769px a 1024px) */
    @media (min-width: 769px) and (max-width: 998px) {
      width: 100%;
    }
  }

  .works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: var(--d1);
    gap: var(--x4);
    padding-bottom: var(--d1);

    /* Teléfonos pequeños (hasta 480px) */
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0;
    }

    /* Teléfonos medianos (481px a 768px) */
    @media (min-width: 481px) and (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0;
    }

    /* Tablets (769px a 1024px) */
    @media (min-width: 769px) and (max-width: 998px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 0;
    }
    .work {
      overflow: hidden;

      a:hover {
        text-decoration: none;
      }
      .container-img {
        overflow: hidden;
        position: relative;
        border-radius: var(--d4);

        img.img {
          width: 100%;
          height: 100%;
          transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
        }

        &:hover img.img {
          transform: scale(1.05);
          filter: brightness(0.7); /* This will darken the image */
        }
      }

      .info {
        text-align: center;
        margin-top: var(--d1);
        margin-bottom: var(--x2);

        .title {
          font-weight: var(--font-weight-medium-2);
        }
        .sub-title {
          color: var(--gray2);
          font-weight: var(--font-weight-medium);
        }
      }
    }
  }

  .about {
    width: 60%;

    /* Teléfonos pequeños (hasta 480px) */
    @media (max-width: 480px) {
      width: 100%;
    }

    /* Teléfonos medianos (481px a 768px) */
    @media (min-width: 481px) and (max-width: 768px) {
      width: 98%;
    }

    /* Tablets (769px a 1024px) */
    @media (min-width: 769px) and (max-width: 998px) {
      width: 98%;
    }

    .nav-links {
      margin-top: var(--d1);
      p {
        margin-top: var(--x1);
        color: var(--gray2);
      }
      .illescas {
        margin-top: var(--x5);
      }
    }
  }
}

.container-work-2 {
  margin-bottom: var(--x3);

  .work {
    .info {
      text-align: center;
      margin-top: var(--x2) !important;
      margin-bottom: var(--d1) !important;

      .title {
        font-weight: var(--font-weight-medium-2);
      }
    
    }
  }

  /* Teléfonos pequeños (hasta 480px) */
  @media (max-width: 480px) {
    margin-top: 0px;
  }

  /* Teléfonos medianos (481px a 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    margin-top: 0px;
  }

  /* Tablets (769px a 1024px) */
  @media (min-width: 769px) and (max-width: 998px) {
    margin-top: 0px;
  }
}

.sub-title {
  color: var(--gray2);
  font-weight: var(--font-weight-normal);
}