.container-info {
  width: 100%;
  height: auto;
  padding-top: var(--x1_2);
  display: grid;
  grid-template-columns: 18% 1fr;
  padding-bottom: var(--x4);
  max-width: 100vw; /* Evita el desbordamiento horizontal */

  /* Teléfonos pequeños (hasta 480px) */
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }

  /* Teléfonos medianos (481px a 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  /* Tablets (769px a 1024px) */
  @media (min-width: 769px) and (max-width: 998px) {
    grid-template-columns: 1fr;
  }

  main.project__content {
  
 

    h4 {
  
      margin-bottom: var(--x1_2);
    }


    article.project__overview {
      margin: 0 var(--x4) 0 var(--x4);

      /* Teléfonos pequeños (hasta 480px) */
      @media (max-width: 480px) {
        margin: 0;
      }

      /* Teléfonos medianos (481px a 768px) */
      @media (min-width: 481px) and (max-width: 768px) {
        margin: 0;
      }

      /* Tablets (769px a 1024px) */
      @media (min-width: 769px) and (max-width: 998px) {
        margin: 0;
      }

      .project__header {
        margin-bottom: var(--x1_2);

        /* Teléfonos pequeños (hasta 480px) */
        @media (max-width: 480px) {
          margin-bottom: var(--d1);
        }
      }
      .project__role {
        font-size: 16px;
      }

      section.project__info {
        .project__details {
          margin-top: var(--x1_2);
          margin-bottom: var(--x2);
        }
      }

      .project__text {
        margin-top: var(--x3);
        .section-title {
          margin-bottom: var(--x1_2);

          .section-text {
            margin-bottom: var(--x1_2);
          }
          
        }
      }
    }

    .project__gallery {
      margin: var(--x4) 0 var(--x4) 0;
      img {
        width: 100%;
        height: auto;
        margin-bottom: var(--x1);
      }
    }
  }
}
