.container-info {
    .nav {
        .ul {
          position: fixed;
          display: block;
          @media (max-width: 480px) {
            display: none;
          }
          .items {
            color: var(--brand);
            margin-bottom: var(--d1);
            display: flex;
            justify-items: center;
            align-items: center;
            gap: var(--d4);
            cursor: pointer;
    
            &::before {
              content: " ";
              height: 1px;
              width: var(--d1);
              background-color: var(--brand);
            }
          }
    
    
    
          .items:hover {
            color: var(--brand-light);
            font-weight: 800;
    
            &::after {
              content: " ";
              height: 1px;
              width: var(--x1);
              background-color: var(--brand-light);
            }
          }
    
          .items.active {
            color: var(--brand-secondary) !important ;
            font-weight: 800;
          
            &::after {
              content: " ";
              height: 1px;
              width: var(--x1);
              background-color: var(--brand-secondary);
            }
          }
        }
      }
}