.container-info .nav ul.ul {
  position: fixed;
  display: block;
}

@media (max-width: 480px) {
  .container-info .nav ul.ul {
    display: none;
  }
}

.container-info .nav ul.ul .nav-items {
  color: var(--black);
  margin-bottom: var(--d1);
  display: flex;
  justify-items: center;
  align-items: center;
  gap: var(--d4);
  cursor: pointer;
}




.container-info .nav ul.ul .nav-items:hover {
  text-decoration: underline;
  font-weight: var(--font-weight-semibold);
}



.container-info .nav ul.ul .nav-items.active {
  text-decoration: underline;
  font-weight: var(--font-weight-semibold);
}



