@import url("./variables.css");
@import url("./dark-mode.css");
@import url("./nav.css");

/* Estilos globales */
html {
  scroll-behavior: smooth;
}

/* Contenedor principal */
.background {
  min-height: 100vh;
  background-color: #f3f4f6;
  transition: background 0.3s;

  a {
    color: var(--brand-primary);

    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--brand-light);
    }
  }
}

/* Modo oscuro */
.background.dark {
  width: 100%;
  background: var(--brand-dark-gradient);
  color: var(--white);
  a {
    color: var(--brand-primary);

    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: var(--brand-secondary);
    }
  }
}
