.container-about {
  margin-bottom: var(--x3);
  /* Teléfonos pequeños (hasta 480px) */
  @media (max-width: 480px) {
    margin-bottom: var(--x2);
    margin-top: var(--x2);
  }

  /* Teléfonos medianos (481px a 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    margin-bottom: var(--x1);
  }

  .p {
    margin-top: var(--d1_2);
    /* Teléfonos pequeños (hasta 480px) */
    @media (max-width: 480px) {
      margin-top: var(--x1);
    }

    /* Teléfonos medianos (481px a 768px) */
    @media (min-width: 481px) and (max-width: 768px) {
      margin-top: var(--x1);
    }
    b {
      font-weight: var(--font-weight-normal);
    }
  }
}
