.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  background: rgba(225, 225, 255, 0); /* Fondo negro translúcido */
  backdrop-filter: blur(15px); /* Desenfoque estilo vidrio */
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: padding 0.3s ease-in-out;

  &.hidden {
    transform: translateY(
      -100%
    ); /* Oculta el navbar al hacer scroll hacia abajo */
  }

  &.visible {
    transform: translateY(
      0
    ); /* Muestra el navbar al hacer scroll hacia arriba */
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .nav-links {
      list-style: none;
      display: flex;
      gap: 1.5rem;

      li {
        a {
          font-size: 14px;
          text-decoration: none;
          transition: color 0.3s;
          b {
            font-weight: var(--font-weight-bold);
            font-size: var(--font-size-s3);
            opacity: 0.4;
          }
        }
      }
    }

    .logo {
      font-size: 1.2rem;
      font-weight: bold;
      text-decoration: none;
      transition: width 0.6s ease-in-out, font-size 0.6s ease-in-out;
    }
  }
}

.navbar.plus {
  padding: 0.9rem 4rem;
  transition: padding 0.6s ease-in-out;
}

.logo.plusLogo {
  width: 70%;
  transition: width 0.6s ease-in-out, font-size 0.6s ease-in-out;
}
