.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding: 2rem 4rem;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  background: rgba(225, 225, 255, 0); /* Fondo negro translúcido */
  backdrop-filter: blur(15px); /* Desenfoque estilo vidrio */
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0);
  z-index: 1000;
  transition: padding 0.3s ease-in-out;

  /* Teléfonos pequeños (hasta 480px) */
  @media (max-width: 480px) {
    padding: 2rem 0;
  }

  /* Teléfonos medianos (481px a 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    padding: 2rem 0;
  }

  /* Tablets (769px a 1024px) */
  @media (min-width: 769px) and (max-width: 998px) {
    padding: 2rem 0;
  }

  &.hidden {
    transform: translateY(
      -100%
    ); /* Oculta el navbar al hacer scroll hacia abajo */
  }

  &.visible {
    transform: translateY(
      0
    ); /* Muestra el navbar al hacer scroll hacia arriba */
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.navbar.plus {
  padding: 0.9rem 4rem;
  transition: padding 0.6s ease-in-out;

  /* Teléfonos pequeños (hasta 480px) */
  @media (max-width: 480px) {
    padding: 0.9rem 0;
  }

  /* Teléfonos medianos (481px a 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    padding: 0.9rem 0;
  }

  /* Tablets (769px a 1024px) */
  @media (min-width: 769px) and (max-width: 998px) {
    padding: 0.9rem 0;
  }
}

.logo{
  color: #b7f;
  .acent {
    color: blueviolet;
  }
}

a:hover {
  text-decoration-color: #b7f;
}
.logo:hove {
  text-decoration-color: #b7f;
}
