.container-training {

  article {
   
    margin-top: var(--x1);
    ul {
      li {
        margin-bottom: var(--d7);
        .date {
          margin-bottom: var(--d1);
          color: var(--brand-light);
          justify-self: flex-start;
          margin-top: var(--d5);
        }
      }
    }
  }
}
