/* Estilos globales */
html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: "Geist", serif;
  font-optical-sizing: auto;
}

/* Estilos generales para el contenedor */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px; /* Espaciado interno */
  max-width: 1184px; /* Ancho máximo en pantallas grandes */
  height: auto;

  /* Breakpoints responsivos */

  /* Teléfonos pequeños (hasta 480px) */
  @media (max-width: 480px) {
    padding: 0 var(--x1);
    height: auto;
  }

  /* Teléfonos medianos (481px a 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    padding: 0 var(--x1);
    height: auto;
  }

  /* Tablets (769px a 1024px) */
  @media (min-width: 769px) and (max-width: 998px) {
    padding: 0 var(--x1_2);
    height: auto;
  }

  /* Escritorio pequeño (1025px a 1280px) */
  @media (min-width: 1025px) and (max-width: 1280px) {
    padding: 0 24px;
    max-width: 1184px;
    height: auto;
  }

  /* Escritorio grande (más de 1280px) */
  @media (min-width: 1281px) {
    padding: 0 32px;
    max-width: 1184px;
    height: auto;
  }
}

/* Contenedor principal */
.background {
  min-height: 100vh;
  background-color: var(--background);
  transition: background 0.3s;
  margin-top: 0;

  section {
    margin: 0 auto;
    padding-bottom: var(--x2);
  }

  .section-title {
    margin-bottom: var(--x1);
  }
}

/* Modo oscuro */
.background.dark {
  width: 100%;
  background: var(--brand-dark-gradient);
  color: var(--white);

  .white {
    color: white;
  }
  a {
    color: var(--white);
  }

  a:hover {
    color: var(--white);
  }
}

.background-space {
  padding-top: 200px !important;

  /* Teléfonos pequeños (hasta 480px) */
  @media (max-width: 480px) {
    padding-top: 120px !important;
  }

  /* Teléfonos medianos (481px a 768px) */
  @media (min-width: 481px) and (max-width: 768px) {
    padding-top: 120px !important;
  }

  /* Tablets (769px a 1024px) */
  @media (min-width: 769px) and (max-width: 998px) {
    padding-top: 120px !important;
  }
}
