@import url("./variables.css");

/* src/styles/typography.css */
body {
  font-family: var(--font-family);
  font-size: var(--font-size-p);
  color: var(--black);
}

/* 🌟 Encabezados */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-heading);
}

h1 {
  font-size: var(--font-size-h1-clamp);
  font-weight: var(--font-weight-semibold);
  line-height: 120%;
}

h2 {
  font-size: var(--font-size-h2-clamp);
  font-weight: 500;
  line-height: 120%;
}
h3 {
  font-size: var(--font-size-h3-clamp);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-heading);
}
h4 {
  font-size: var(--font-size-h4-clamp);
  font-weight: var(--font-weight-medium);
}
h5 {
  font-size: var(--font-size-h5);
  font-weight: var(--font-weight-normal);
}
h6 {
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-medium);
}

/* 📖 Párrafos */
p {
  font-size: var(--font-size-p-clamp);
  line-height: var(--line-height-base, 1.6);
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.01rem;
  margin-bottom: var(--spacing-md);
  font-family: "Geist", serif;
}

/* 📌 Textos adicionales (según la guía NSS) */
.s3,
.s2,
.s1 {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
}

.s3 {
  font-size: var(--font-size-s3);
  font-weight: var(--font-weight-medium);
}
.s2 {
  font-size: var(--font-size-s2);
  font-weight: var(--font-weight-normal);
}
.s1 {
  font-size: var(--font-size-s1);
  font-weight: var(--font-weight-normal);
}

b {
  font-weight: var(--font-weight-semibold) !important;
}

/* 💬 Utilidades de texto */
.text-bold {
  font-weight: var(--font-weight-bold);
}
.text-medium {
  font-weight: var(--font-weight-medium);
}
.text-light {
  font-weight: var(--font-weight-light);
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}

a {
  cursor: pointer;
  font-weight: var( --font-weight-medium-2);
}

a:hover {
  text-decoration: underline;
}


/* Ajustes responsivos */
@media (max-width: 768px) {
  :root {
    --font-size-p: 1.125rem;
  }
}

@media (max-width: 480px) {
  :root {
    --font-size-p: 1rem;
  }
}
