:root {
  /* Escala de grises */
  --black: #131314;
  --gray1: #4a576e;
  --gray2: #6b7d9d;
  --gray3: #9da9bd;
  --gray4: #cdd3dd;
  --gray5: #f0f2f5;
  --background: #fdfeff;
  --white: #e7eaf1;

  /* Colores de notificación */
  --info: #5c96fa;
  --info-dark: #1f60d1;
  --info-light: #cedffd;
  --success-dark: #3a6732;
  --success: #68cc55;
  --success-light: #dcf3d8;
  --danger: #da2f37;
  --danger-dark: #a51d24;
  --danger-light: #f7d4d6;
  --warning-dark: #d5880b;
  --warning: #f8bb59;
  --warning-light: #fdebce;

  /* Colores de marca */
  --brand-secondary-light: #e9c46a;
  --brand-secondary: #f4a261;
  --brand-secondary-dark: #e76f51;
  --brand-darker: #00415c;
  --brand-dark-gradient: linear-gradient(180deg, #020c1b 0%, #041937 100%);
  --brand: #264653;
  --brand-light: #2a9d8f;
  --brand-lighter: #b6c1d4;

  /* Tipografía */
  --font-family: Geist, serif,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --line-height: 1.5;
  --line-height-heading: 1.25;
  --font-weight-semibold: 600;
  --font-weight-bold: 900;
  --font-weight-medium: 400;
  --font-weight-regular: 300;

  /* Tamaños de fuente */
 
  --font-size-s3: calc(var(--font-size-p) / 1.8);
  --font-size-s2: calc(var(--font-size-p) / 1.5);
  --font-size-s1: calc(var(--font-size-p) / 1.25);
  --font-size-p: 1.375rem;
  --font-size-h6: var(--font-size-p);
  --font-size-h5: calc(var(--font-size-p) * 1.125);
  --font-size-h4: calc(var(--font-size-p) * 1.25);
  --font-size-h3: 1.75rem;
  --font-size-h2: calc(var(--font-size-p) * 1.75);
  --font-size-h1: 4.5rem;

  /* Ajustes responsivos con clamp */
  --font-size-p-clamp: clamp(1rem, 2vw, var(--font-size-p));
  --font-size-h1-clamp: clamp(2rem, 5vw, var(--font-size-h1));
  --font-size-h2-clamp: clamp(1.75rem, 4vw, var(--font-size-h2));
  --font-size-h3-clamp: clamp(1.5rem, 3.5vw, var(--font-size-h3));
  --font-size-h4-clamp: clamp(1.25rem, 3vw, var(--font-size-h4));

  /* Espaciado */
  --d6: 0.25rem;
  --d5: 0.3rem;
  --d4: 0.375rem;
  --d3: 0.5rem;
  --d2: 0.75rem;
  --d1: 0.75rem;
  --d1_2: 1rem;
  --x1: 1.5rem;
  --x1_2: 2.25rem;
  --x2: 3rem;
  --x3: 4.5rem;
  --x4: 6rem;
  --x5: 7.5rem;
  --x6: 9rem;
}

